<%- include('partials/header') %>
        <div class="starter-template">
            <h1>Tabuada</h1>
            <p class="lead">->dados de contato aqui<-</p>
        </div>
<%- include('partials/footer') %>