<%- include('partials/header') %>
        <div class="starter-template">
            <h1>Tabuada</h1>
            <div className="lead">
                <p className="lead">Social media</p>    
                <a href="https://www.github.com/igormpmartins">
                    <img src="/GitHub-Mark-64px.png" title="GitHub"/>
                </a>
                <a href="https://www.linkedin.com/in/igormpmartins">
                    <img src="/Linkedin-icon.png"  title="LinkedIn"/>
                </a>
                <a href="https://www.instagram.com/igormpmartins">
                    <img src="/instagram-64px.png" title="Instagram"/>
                </a>
            </div>
        </div>
<%- include('partials/footer') %>